body {
    text-align: center;
    color: whitesmoke;
    background-color: blueviolet;
}

button {
    background-color: white;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: rgb(183, 144, 163);
}
